<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Directory Index | Content</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <script>
    function copyToClipboard(text) { 
      navigator.clipboard.writeText(text).then(() => { 
        // alert('Copied to clipboard'); 
      }).catch(err => { 
        console.error('Could not copy text: ', err); 
      }); 
    }
  </script>
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body class="bg-gray-100">
  <div class="max-w-2xl mx-auto p-6 bg-white rounded-lg shadow-lg">
    <h1 class="text-3xl font-bold text-left text-gray-800">
      Content (<%=keys.length %> matched)
    </h1>

    <button onclick="window.history.back()" class="bg-blue-500 text-white px-4 py-2 rounded mt-4 hover:bg-blue-600">Back</button>

    <% if (keys.length > 0) { %>
      <ol class="mt-6 space-y-2 list-decimal list-inside">
        <% keys.forEach(key => { %>
          <li class="text-left">
            <button onclick="copyToClipboard('<%= key.replace("DIRINDEX:INDEX:", "") %>')" class="ml-4 bg-green-500 text-white px-2 py-1 rounded text-xs hover:bg-green-700"  title="Copy">
            <i class="fas fa-copy"></i>
          </button>
  
          <a href="/detail/<%= key %>" class="text-blue-500 hover:underline">
            <%= key.replace("DIRINDEX:INDEX:", "") %>
          </a>
          </li>
        <% }) %>
      </ol>
    <% } else { %>
      <p class="text-6xl font-bold mt-8">Oops!</p>
    <% } %>

    <% if (keys.length > 0) { %>
      <button onclick="window.history.back()" class="bg-blue-500 text-white px-4 py-2 rounded mt-4 hover:bg-blue-600">Back</button>
    <% } %>

  </div>
</body>
</html>
